.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5ebdf;
    height: 120vh;
}

.detailContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 2rem;
    background-color: #f3dabc;
    border: 0.1rem solid rgba(0, 0, 0, 0.318);
    border-radius: 0.8rem;
    margin: 1rem;
  }

  .centerDetailContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
  }

  .leftContainer {
    width: 50%;
  }

  .leftContainer p {
    text-align: center;
  }

  .leftContainer h3 {
    font-weight: 600;
    font-style: oblique;
    text-align: center;
  }

  .leftContainer h6 {
    text-align: center;
    margin-top: 5rem;
    font-weight: 300;
    font-size: 1.6rem;
  }

  .leftContainer span {
    background-color: rgb(61, 61, 61);
    color: #fbfbfb;
    border-radius: 50%;
    border: 0.1rem solid rgba(255, 255, 255, 0.445);
    padding: 0.6rem;
  }

  .rightContainer {
    width: 50%;
  }
  
  .rightContainer img {
    width: 100%;
    border-radius: 0.8rem;
    border: 1px solid rgba(0, 0, 0, 0.301);
    height: auto;
    margin-bottom: 10px;
  }
  
  .leftContainer h3 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
  }
  
  .detailDescription {
    border: 0.1rem solid rgba(0, 0, 0, 0.176);
    border-radius: 0.8rem;
    margin: 1rem 0rem;
    padding: 0.6rem;
    text-align: center;
    }

  .bottomContainer {
    height: 50%;  
  }

  .bottomContainer p {
    font-size: 1rem;
  }

  .divList {
    border: 1px solid rgba(0, 0, 0, 0.373);
    border-radius: 0.8rem;
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    padding: 0.8rem;
  }

  .listaStep {
   width: 80%;
  }

  .detailDiets {
    justify-content: center;
  }
  
  .detailInstructions {
    font-size: 1rem;
  }
  
  .detailDiets {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .detailDiet {
    background-color: #FFF6F0;
    color: #AA170D;
    font-size: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.254);
    padding: 0.4rem;
    border-radius: 0.8rem;
    margin: 0.1rem;
  }

  .loading {
    font-size: 3rem;
  }