.filterContainer {
    display: flex;
    justify-content: space-between;
    padding: 0.2rem;
}

.filterContainer select {
    margin: 0rem 0.3rem;
    background-color: rgba(225, 195, 155, 0.607);
    border: none;
    border-radius: 0.6rem;
    padding: 0.6rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}
